<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agenda">
            <h2><span jhiTranslate="cinematicaApp.agenda.detail.title">Agenda</span> {{agenda.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cinematicaApp.agenda.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{agenda.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{agenda.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.diaTodo">Dia Todo</span></dt>
                <dd>
                    <span>{{agenda.diaTodo}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.falta">Falta</span></dt>
                <dd>
                    <span>{{agenda.falta}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.cancelou">Cancelou</span></dt>
                <dd>
                    <span>{{agenda.cancelou}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.horario">Horario</span></dt>
                <dd>
                    <div *ngIf="agenda.horario">
                        <a [routerLink]="['/horario', agenda.horario?.id, 'view']">{{agenda.horario?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="agenda.empresa">
                        <a [routerLink]="['/empresa', agenda.empresa?.id, 'view']">{{agenda.empresa?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.paciente">Paciente</span></dt>
                <dd>
                    <div *ngIf="agenda.paciente">
                        <a [routerLink]="['/paciente', agenda.paciente?.id, 'view']">{{agenda.paciente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.funcionario">Funcionario</span></dt>
                <dd>
                    <div *ngIf="agenda.funcionario">
                        <a [routerLink]="['/paciente', agenda.funcionario?.id, 'view']">{{agenda.funcionario?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.agenda.especialidade">Especialidade</span></dt>
                <dd>
                    <div *ngIf="agenda.especialidade">
                        <a [routerLink]="['/especialidade', agenda.especialidade?.id, 'view']">{{agenda.especialidade?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agenda', agenda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
