<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horario">
            <h2><span jhiTranslate="cinematicaApp.horario.detail.title">Horario</span> {{horario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cinematicaApp.horario.horarioInicio">Horario Inicio</span></dt>
                <dd>
                    <span>{{horario.horarioInicio}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.horario.horarioFim">Horario Fim</span></dt>
                <dd>
                    <span>{{horario.horarioFim}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horario', horario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
