<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empresa">
            <h2><span jhiTranslate="cinematicaApp.empresa.detail.title">Empresa</span> {{empresa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cinematicaApp.empresa.nomeFantasia">Nome Fantasia</span></dt>
                <dd>
                    <span>{{empresa.nomeFantasia}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.razaoSocial">Razao Social</span></dt>
                <dd>
                    <span>{{empresa.razaoSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{empresa.cnpj}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.telefone">Telefone</span></dt>
                <dd>
                    <span>{{empresa.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.email">Email</span></dt>
                <dd>
                    <span>{{empresa.email}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.inscricaoEstadual">Inscricao Estadual</span></dt>
                <dd>
                    <span>{{empresa.inscricaoEstadual}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.inscricaoMunicipal">Inscricao Municipal</span></dt>
                <dd>
                    <span>{{empresa.inscricaoMunicipal}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.website">Website</span></dt>
                <dd>
                    <span>{{empresa.website}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.dataContratacao">Data Contratacao</span></dt>
                <dd>
                    <span>{{empresa.dataContratacao}}</span>
                </dd>
                <dt><span jhiTranslate="cinematicaApp.empresa.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="empresa.endereco">
                        <a [routerLink]="['/endereco', empresa.endereco?.id, 'view']">{{empresa.endereco?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empresa', empresa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
